.container{
    position: fixed;
    top: 0px;
    width: 110%;
    height: 80px;
    background-color: white;
    box-shadow: 0 8px 6px -10px black;
    
    z-index: 1;

    .logo{
        position: relative;
        bottom: 50px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}